---
import type { HTMLAttributes } from "astro/types";

type Props = HTMLAttributes<"a">;

const { href, class: className, ...props } = Astro.props;

const { pathname } = Astro.url;
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === "/" + subpath?.[0];
---

<a
  href={href}
  class:list={[
    className,
    isActive
      ? "text-accent-700 hover:text-accent-600 dark:text-accent-500 dark:hover:text-accent-400"
      : "text-base-900 dark:text-base-50",
  ]}
  {...props}
>
  <slot />
</a>
