---
import {
  BASE,
  MANUAL_DARK_MODE,
  SEARCH_ENABLED,
  SITE_FAVICON,
} from "../consts";
import ThemeToggle from "./ThemeToggle.svelte";
import Search from "./search/Search.svelte";
import HeaderLink from "./HeaderLink.astro";
import CommandPalette from "./search/CommandPalette.svelte";
import CodeCopyButton from "./CodeCopyButton.svelte";
---

<header>
  <nav
    class="flex items-center justify-between p-6 lg:px-8"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href={BASE + "/"} class="-m-1.5 p-1.5">
        <span class="sr-only">go to home</span>

        <div class="h-12 w-12 text-3xl">{SITE_FAVICON}</div>
      </a>
    </div>
    <div class="flex gap-x-12">
      <HeaderLink href={BASE + "/"} class="text-sm font-semibold leading-6"
        >Blog</HeaderLink
      >
      <HeaderLink href={BASE + "/about"} class="text-sm font-semibold leading-6"
        >About</HeaderLink
      >

      {MANUAL_DARK_MODE ? <ThemeToggle client:visible /> : null}

      {SEARCH_ENABLED ? <Search client:visible /> : null}
    </div>
  </nav>
</header>

<CommandPalette client:load />
<CodeCopyButton client:load />
